.nav-link {
    transition: border-radius 0.3s ease;
    border: 1px solid transparent; /* Asegura que haya un borde inicial */
  }
  
  .active {
    position: relative; /* Asegura que el pseudo-elemento esté posicionado correctamente */
    border-radius: 20px; /* o cualquier valor que desees */
  }
  
  .active::before {
    content: ""; /* Crea un pseudo-elemento */
    position: absolute; /* Posiciona el pseudo-elemento */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent; /* Establece un borde transparente inicial */
    border-radius: inherit; /* Hereda el radio de borde del elemento padre */
    animation: borderAnimation 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  @keyframes borderAnimation {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    25% {
      border-top-color: #000000;
    }
    50% {
      border-top-color: #000000;
      border-right-color: #000000;
    }
    75% {
      border-top-color: #000000;
      border-right-color: #000000;
      border-bottom-color: #000000;
    }
    100% {
      border-color: #000000; /* Establece un borde negro completo al final */
    }
  }
  
  .active {
    /* Elimina los estilos de borde predeterminados para el elemento activo */
    border: none;
  }